Annotation

https://www.govtech.com/data/Just-How-Common-Are-Body-Cameras-in-Police-Departments.html
https://www.ncjrs.gov/pdffiles1/nij/grants/251416.pdf
https://www.bjs.gov/content/pub/pdf/bwclea16.pdf
https://nij.ojp.gov/topics/articles/research-body-worn-cameras-and-law-enforcement#noteReferrer3

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import numpy as np
import seaborn as sb

In [2]:
df = pd.read_csv("C:/Users/ruilli/Documents/GitHub/Project2_Han_Liu_Gao/data/fatal-police-shootings-data.csv")
df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True

In [3]:
df['year'] = pd.DatetimeIndex(df['date']).year

df.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact,year
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True,2015
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True,2015
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True,2015
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True,2015
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True,2015

In [5]:
sub = df[~df['year'].isin(['2020'])]
table = pd.pivot_table(sub,values='name',index='body_camera',columns='threat_level',aggfunc=lambda x: len(x.unique()))
table

threat_level  attack  other  undetermined
body_camera
False           2738   1294           173
True             346    203            22

In [6]:
table2 = table.iloc[:]/table.iloc[:].sum()
table2.style.format('{:.2%}')

In [ ]:
tablex = pd.pivot_table(df,values='name',index='threat_level',columns='body_camera',aggfunc=lambda x: len(x.unique()))
tablex

In [ ]:
table3 = tablex.iloc[:]/tablex.iloc[:].sum()
table3.style.format('{:.2%}')

In [ ]:
df2 = df[['year','state','body_camera','name']]

df2.head()

In [ ]:
nation_count = df2.groupby(['year','body_camera']).count()

# nation_count['state'] = 'national'
# nation_pct = nation_count.div(nation_count.sum(level=0),level=0)
#level0 is year and level1 is threat_level, it is the same as groupby(['year','threat_level'])
nation_pct = nation_count.groupby(level=0).apply(lambda x: x/x.sum())
nation_pct['state'] = 'US'
usfinal = nation_pct.reset_index()
usfinal = usfinal[~usfinal['year'].isin(['2020'])]


nation_count['state'] = 'US'
uscount = nation_count.reset_index()
uscount = uscount[~uscount['year'].isin(['2020'])]
usfinal

In [ ]:
nation_count2 = df2.groupby(['year']).count()
nation_count2 = nation_count2.rename(columns={'name':'# of fatal shootings'})
del nation_count2['body_camera']
del nation_count2['state']
nation_count2

In [ ]:
usfinal2 = usfinal[usfinal['body_camera']==True]
nation = pd.merge(usfinal2,nation_count2, on = 'year', how='left')
nation = nation.rename(columns={'name':'% of incidents with body cameras'})
nation

In [ ]:
fig,ax1 = plt.subplots()
y1 = nation['% of incidents with body cameras']
y2 = nation['# of fatal shootings']
x = nation['year']
ax2 = ax1.twinx()
ax1.plot(x,y1,'g-')
ax2.plot(x,y2,'b-')

In [ ]:
CA = df2[(df['state']=='CA')]
CA_count = CA.groupby(['year','body_camera','state']).count()
CA_pct = CA_count.groupby(level=0).apply(lambda x: x/x.sum())
cafinal = CA_pct.reset_index()
cafinal = cafinal[~cafinal['year'].isin(['2020'])]
cacount = CA_count.reset_index()
cacount = cacount[~cacount['year'].isin(['2020'])]
cacount

In [ ]:
cacount2 = CA.groupby(['year']).count()
cacount2 = cacount2.rename(columns={'name':'# of fatal shootings'})
del cacount2['body_camera']
del cacount2['state']
cacount2

cafinal2 = cafinal[cafinal['body_camera']==True]

cal = pd.merge(cafinal2,cacount2, on = 'year', how='left')
cal = cal.rename(columns={'name':'% of incidents with body cameras'})
cal

In [ ]:
fig,ax3 = plt.subplots()
y1 = cal['% of incidents with body cameras']
y2 = cal['# of fatal shootings']
x = cal['year']
ax4 = ax3.twinx()
ax3.plot(x,y1,'g-')
ax4.plot(x,y2,'b-')

In [ ]:
NV = df[(df['state']=='NV')]
NV_count = NV.groupby(['year','body_camera','state']).count()
NV_pct = NV_count.groupby(level=0).apply(lambda x: x/x.sum())
nvfinal = NV_pct.reset_index()
nvfinal = nvfinal[~nvfinal['year'].isin(['2020'])]

nvcount = NV_count.reset_index()
nvcount = nvcount[~nvcount['year'].isin(['2020'])]
nvcount

In [ ]:
nvcount2 = NV.groupby(['year']).count()
nvcount2 = nvcount2.rename(columns={'name':'# of fatal shootings'})
del nvcount2['body_camera']
del nvcount2['state']
nvcount2

nvfinal2 = nvfinal[nvfinal['body_camera']==True]

nvd = pd.merge(nvfinal2,nvcount2, on = 'year', how='left')
nvd = nvd.rename(columns={'name':'% of incidents with body cameras'})
nvd

In [ ]:
fig,ax3 = plt.subplots()
y1 = nvd['% of incidents with body cameras']
y2 = nvd['# of fatal shootings']
x = nvd['year']
ax4 = ax3.twinx()
ax3.plot(x,y1,'g-')
ax4.plot(x,y2,'b-')

In [ ]:
state = cafinal.append(nvfinal)
final = state.append(usfinal).rename(columns={'name':'% of incidents with body cameras'})

final

In [ ]:
statecount = cacount.append(nvcount)
finalcount = statecount.append(uscount).rename(columns={'name':'# of fatal shooting'})
finalcount = finalcount.groupby(['year','state']).sum()
del finalcount['body_camera']
finalcount = finalcount.reset_index()
# finalcount = finalcount[finalcount['state']=='CA']
finalcount.head()

In [ ]:
gh = sb.FacetGrid(final, col = 'state', hue='body_camera')
gh.map(sb.regplot, "year", '% of incidents with body cameras').add_legend() 
plt.show()

In [ ]:
gh2 = sb.FacetGrid(finalcount, col = 'state')
gh2.map(sb.regplot, "year", '# of fatal shooting').add_legend() 
plt.show()

In [ ]:
sub = df[df['state'].isin(['CA','NV'])]
statetable = pd.pivot_table(sub,values ='name', index='state',columns='year',aggfunc=lambda x: len(x.unique()))

nationtable = pd.pivot_table(df,values ='name', columns='year',aggfunc=lambda x: len(x.unique()))

combined = nationtable.append(statetable)
combined = combined.rename(index={'name':"US"})
combined.style.set_caption("Fatal Shooting by Year")
# list(combined.index.values)

In [ ]:
table2.plot(kind='bar',title='%fatal shooting by Name#')

In [ ]:
df['year'] = pd.DatetimeIndex(df['date']).year
df

In [ ]:
table3 = pd.pivot_table(df,values ='name', columns='body_camera',index='year',aggfunc=lambda x: len(x.unique()))
table3

In [ ]:
table4 = pd.pivot_table(df,values ='name', columns='body_camera',index='date',aggfunc=lambda x: len(x.unique()))
table4

In [ ]:
table3.plot(kind='area',title='fatal shootings by Name# over years')

In [ ]:
table3.plot(kind='line',title='fatal shootings by Name# over years')

In [ ]:
df_CA = df.loc[df['state'] == 'CA']
df_CA

In [ ]:
table_CA = pd.pivot_table(df_CA,values ='name', columns='body_camera',index='year',aggfunc=lambda x: len(x.unique()))
table_CA

In [ ]:
table_CA.plot(kind='line',title='CA fatal shootings by Name# over years')

In [ ]:
df_NV = df.loc[df['state'] == 'NV']
df_NV

In [ ]:
table_NV = pd.pivot_table(df_NV,values ='name', columns='body_camera',index='year',aggfunc=lambda x: len(x.unique()))
table_NV

In [ ]:
table_NV.plot(kind='line',title='NV fatal shootings by Name# over years')